---
import Section from "../Section.astro";
---

<Section className={Astro.props.className} title="Images Gallery">
  <p class="font-mono ml-3 text-skin-muted">No images available. Please add an 'images' property to your cv.json to display a gallery.</p>
</Section>
